model/
!**/__pycache__/

**/__pycache__/
**/*.pyc
images/
logs/
data/
misc/
test/
model/
nohup.out
**/.vscode/
.vscode
!**/*.cpython-36.pycdocker

service.pid

script/cron.log
script/pid/
**/*.c
**/*.so
build/
**/checkpoints/
**/node_modules/